body{background-color: rgb(175, 238, 238);}
.kiki{
    height: 20%;
    width: 10%;
}
.logo{
    background-color: rgb(49, 49, 47);
}
.navbar{display: flex;
    align-items: center;
    
    background-color: rgb(215, 249, 250);
    position:absolute;
    width: 25%;
    height: 3%;
    bottom: 80%;
    left: 35%;
    
}
 ul {
    list-style-type:lower-roman;
    margin: 0%;
    padding: 0%;
    
}

li {
    display: inline;
    margin-right: 20px;
    
}

 a {
    text-decoration: none;
    color: blueviolet;
    font-weight:bolder;
    margin-left: 35px;
}

